{% extends 'pages/base.html' %}
{%load static %}
{% block 'corps' %}
<style>
    .h1{
        margin-top: 30px;
        text-align: center;
        height: 300px;
        background-image: url("{%static 'images/4.png'%}");
        padding-top: 100px;
        color: blue;
    }
    table{
        width: 100%;
        margin-top: 80px;
        text-align: center;
    }
    #ajout{
        margin-top: 30px;
    }
    #btn{
        width: 30%;
        background-color: green;
    }
</style>
<br>
<div class="h1">
    <h1>Industrie Team Plus Clinique</h1>
    <h3 class="">Laboratoire </h3>
</div>

<div class="col-lg-12 col-sm-12" id="ajout">
    <section class="card" id="form">
        <header class="card-header">
            <h1 class="text-center">ADD Examen</h1>
        </header>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="prof">Nom</label>
                    <input type="text" value="{{data.nom}}" name="nom" class="form-control" id="prof" aria-describedby="prof">
                </div>
                <div class="form-group">
                    <label for="prof">Prénom</label>
                    <input type="text" value="{{data.prenom}}" name="prenom" class="form-control" id="prof" aria-describedby="prof">
                </div>
                <div class="form-group">
                    <label for="prof">Poids</label>
                    <input type="text" value="{{data.poids}}" name="poids" class="form-control" id="prof" aria-describedby="prof">
                </div>
                <div class="form-group">
                    <label for="prof">Age</label>
                    <input type="text" value="{{data.age}}" name="age" class="form-control" id="prof" aria-describedby="prof">
                </div>
                <div class="form-group">
                    <label for="prof">Sexe</label>
                    <input type="text" value="{{data.sexe}}" name="sexe" class="form-control" id="prof" aria-describedby="prof">
                </div>
                <div class="form-group">
                    <label for="prof">Examen</label>
                    <select name="examen" id="" class="form-control" >
                        <option value="CRP">CRP</option>
                        <option value="SRV">SRV</option>
                        <option value="Glycémie">Glycémie</option>
                        <option value="SDW">SDW</option>
                        <option value="VS">VS</option>
                        <option value="GERH">GERH</option>
                        <option value="GERF">GERF</option>
                        <option value="HG">HG</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="prof">Type Examen</label>
                    <select name="type_examen" id="" class="form-control" >
                        <option value="Para-clinique">Para-clinique</option>
                        <option value="Clinique">Clinique</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="prof">Date  </label>
                    <input type="date" name="date_examen" class="form-control" id="prof" aria-describedby="prof"
                        placeholder="Enter type examen ">
                </div>
                <div class="form-group">
                    <input type="submit" id="btn" class="btn btn-success"  aria-describedby="date" value="Enregistrer">
                </div>
            </form>

        </div>
    </section>
</div>
<p></p>
{% endblock %}